.section {
    box-sizing: border-box;
    width: 100%;
}

.outer {
    display: flex;
    width: 100%;
}

.illus,
.login {
    width: 50%;
}

.illus {
    height: auto;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classification{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
}

.class_section{
    height: 30px;
    margin: 0;
    padding: 0;
}

.login_form{
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 420px;
    gap: 24px;
}

#greetings {
    font-size: 35px;
    width: 502px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 48px;
}